@{
    ViewData["Title"] = "AllEmployees";
}

<h1>AllEmployees</h1>

<a class="btn btn-outline-success" asp-area="" asp-controller="Employees" asp-action="CreateEmployee">Add Employee</a>
<button id="deleteEmployees" type="button" class="btn btn-danger">Delete</button>
@*<input class="emp" type="checkbox" />*@
<br />
<br />

<table id="allEmployees" class="table table-responsive table-hover table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>NAME</th>
            <th>SURNAME</th>
            <th>HIRING DATE</th>
            <th>JOB</th>
            <th>EDIT</th>
        </tr>
    </thead>
</table>

<br />

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/sorting/datetime-moment.js"></script>
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('dddd, MMMM Do, YYYY');
            var employeeDetailsAction = '@Url.Action("EmployeeDetails", "Employees")';

            EmployeesController.allEmployeesInit("#allEmployees", employeeDetailsAction);

            $("#deleteEmployees").css('display', 'none');

            // this works because we have dynamically loaded content
            $(document.body).on('click', '.emp', function () {
                $("#deleteEmployees").toggle($(".emp:checked").length > 0);
                $("#deleteEmployees").text(($(".emp:checked").length > 1) ? 'Delete All' : 'Delete');
            });
        });
    </script>
}
