@{
    ViewData["Title"] = "AllEmployees";
}

    <head>
        <link rel="stylesheet" href="~/lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" />
        <link rel="stylesheet" href="~/lib/datatables/dist/css//select.dataTables.min.css" />

        <style>
            .multiselect {
                border: 1px solid #808080;
            }

            #skillIds {
                display: none;
            }
        </style>
    </head>

<h1>AllEmployees</h1>

<a class="btn btn-outline-success" asp-area="" asp-controller="Employees" asp-action="CreateEmployee">Add Employee</a>
<button id="editEmployee" type="button" class="btn btn-info" style="display: none;">Edit</button>
<button id="deleteEmployees" type="button" class="btn btn-danger" style="display: none;">Delete</button>
<br />
<br />

<div>
    <div class="form-group row">
        <div class="col-sm-10">
            <select name="skillsId" id="skillFilter" multiple="multiple">
                <optgroup id="softSkills" label="Soft"></optgroup>
                <optgroup id="techSkills" label="Technical"></optgroup>
            </select>
        </div>
    </div>
</div>

<table id="allEmployees" class="table table-responsive table-hover table-bordered">
    <thead>
        <tr>
            <th style="text-align: center"><input type="checkbox" id="select_all" /></th>
            <th>NAME</th>
            <th>SURNAME</th>
            <th>HIRING DATE</th>
            <th>DEPARTMENT</th>
            <th>JOB</th>
            <th>EDIT</th>
        </tr>
    </thead>
</table>

<br />

<button id="skillIds" type="submit" value="Submit">Submit</button>

@section Scripts { 
    <script src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.min.js"></script>   
    <script src="~/lib/moment/dist/js/moment-with-locales.js"></script>
    <script src="~/lib/moment/dist/js/datetime-moment.js"></script>
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('dddd, MMMM Do, YYYY');
            var employeeDetailsAction = '@Url.Action("Index", "Employees")';

            EmployeesController.skillsFilterCheckboxesInit();

            var table = EmployeesController.allEmployeesInit("#allEmployees", '', employeeDetailsAction);

            EmployeesController.skillsFilterCheckboxesOnChange(table, employeeDetailsAction);            
            EmployeesController.animations(table, employeeDetailsAction);
            EmployeesController.deleteMultipleEmployees(table);

            // convert from c# array to javascript string with arr.split(',')
            // convert from javascript array to javascript string with arr.join(',')

            // to hold value on multiselect checkboxes on reload
            //$('#skillFilter').val(skillIds.split(","));
            //$('#skillFilter').multiselect('refresh');

            @*to redirect event use
            window.location.href = '@Url.Action("AllEmployees", "Employees")?skillIds=' + str.join(',');*@
    });
    </script>
}
