@{
    ViewData["Title"] = "AllEmployees";
}

<head>
    <link rel="stylesheet" href="~/lib/datatables/dist/css//select.dataTables.min.css" />
</head>

<h1>AllEmployees</h1>

<a class="btn btn-outline-success" asp-area="" asp-controller="Employees" asp-action="CreateEmployee">Add Employee</a>
<button id="editEmployee" type="button" class="btn btn-info" style="display: none;">Edit</button>
<button id="deleteEmployees" type="button" class="btn btn-danger" style="display: none;">Delete</button>
<br />
<br />

<table id="allEmployees" class="table table-responsive table-hover table-bordered">
    <thead>
        <tr>
            <th style="text-align: center"><input type="checkbox" id="select_all" /></th>
            <th>NAME</th>
            <th>SURNAME</th>
            <th>HIRING DATE</th>
            <th>DEPARTMENT</th>
            <th>JOB</th>
            <th>EDIT</th>
        </tr>
    </thead>
</table>

<br />

@section Scripts { 
    <script src="~/lib/moment/dist/js/moment-with-locales.js"></script>
    <script src="~/lib/moment/dist/js/datetime-moment.js"></script>
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('dddd, MMMM Do, YYYY');
            var employeeDetailsAction = '@Url.Action("Index", "Employees")';

            var table = EmployeesController.allEmployeesInit("#allEmployees", employeeDetailsAction);
            EmployeesController.animations(table, employeeDetailsAction);
            EmployeesController.deleteMultipleEmployees(table);
        });
    </script>
}
