@model SkillViewModel

@{
    ViewData["Title"] = "SkillDetails";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/app/views/skillDetails.css" />
</head>

<h2>Skill Details</h2>
<br />

<div class="card border-success mb-3" style="max-width: 20rem;">
    <div class="card-header">
        <span id="skillType"></span>
        <span class="d-inline-block float-right">
            <i id="typeEdit" class="far fa-edit"></i>
        </span>
        <select id="inputType" style=" display: none;">
            <option>Soft</option>
            <option>Technical</option>
        </select>
    </div>
    <div class="card-body">
        <div class="card-title">
            <span id="skillName"></span>
            <span class="d-inline-block float-right">
                <i id="nameEdit" class="far fa-edit"></i>
            </span>
            <input type="text" id="inputName" style="display:none;">
        </div>
        <div class="card-text description">
            <p id="skillDescription"></p>
            <i id="descriptionEdit" class="far fa-edit"></i>
            <textarea id="inputDescription" style="display:none;"></textarea>
        </div>
        <br />
        <div class="card-text">
            <p>
                <b>Created: </b>
                <span id="skillCreationDate"></span>
            </p>
        </div>
    </div>
</div>

<button id="submitChanges" type="button" class="btn btn-success">Save</button>
<button id="discardChanges" type="button" class="btn btn-danger">Discard</button>

@section Scripts {
    <script>
        var id = '@Model.Id';
        SkillsController.skillInit(skillType, skillName, skillDescription, skillCreationDate, id);
        SkillDetailsController.animations();
        SkillDetailsController.updateSkill(id);
    </script>
}

