@{
    ViewData["Title"] = "SkillDetails";
}

<h2>Skill Details</h2>
<br />

<div class="card border-success mb-3" style="max-width: 20rem;">
    <div id="skillType" class="card-header"></div>
    <div class="card-body">
        <h4 id="skillName" class="card-title"></h4>
        <p id="skillDescription" class="card-text"></p>
        <p id="skillCreation Date" class="card-text"></p>
    </div>
</div>

@section Scripts {
    <script>

    </script>
}

