@model AllSkillsViewModel

@{
    ViewData["Title"] = "AllSkills";
}

<h1>AllSkills</h1>

<a class="btn btn-outline-success" asp-area="" asp-controller="Skills" asp-action="CreateSkill">Add Skill</a>
<br />

<form asp-controller="Skills" asp-action="AllSkills" style="padding-top: 15px;">
    Type:
    <select asp-for="Type" id="selectSkillType">
        <option>All</option>
        <option>Soft</option>
        <option>Technical</option>
    </select>

    Status:
    <select asp-for="Status" id="selectSkillStatus">
        <option>All</option>
        <option>Enabled</option>
        <option>Disabled</option>
    </select>

    <button id="skillOption" type="submit" value="Submit">Submit</button>
</form>
<br />

<table id="allSkills" class="table table-responsive table-hover table-bordered">
    <thead>
        <tr>
            <th>NAME</th>
            <th>TYPE</th>
            <th>DESCRIPTION</th>
            <th>ENABLED</th>
        </tr>
    </thead>
</table>

<br />

@section Scripts {
    <script>
        var type = '@Model.Type';
        var status = '@Model.Status';
        var skillDetailsAction = '@Url.Action("SkillDetails", "Skills")';
        //var table = $("#allSkills").DataTable();

        //SkillsController.allSkillsInit(table, skillDetailsAction, type, status);

        SkillsController.allSkillsInit("#allSkills", skillDetailsAction, type, status);

        $("#skillOption").css('display', 'none');

        $("#selectSkillType").change(function () {
            $("#skillOption").click();
        });

        $("#selectSkillStatus").change(function () {
            $("#skillOption").click();
        }); 
    </script>
}

