@model JobSkillViewModel

@{
    ViewData["Title"] = "Skills";
}

<h1>Skills</h1>

<form asp-controller="Skills" asp-action="Skills">
    <select name="jobId" id="searchJob"
            @*asp-for="JobId"
            asp-items="@(new SelectList(Model.Jobs, "Id", "Title"))"*@>
        <option>Please select a job</option>
    </select>

    <button id="jobId" type="submit" value="Submit">Submit</button>
</form>

<br />

<table id="skills" class="table table-responsive table-hover table-bordered">
    <thead>
        <tr>
            <th>NAME</th>
            <th>TYPE</th>
            <th>DESCRIPTION</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            var jobId = '@Model.JobId';
            var skillDetailsAction = '@Url.Action("SkillDetails", "Skills")';

            SkillsController.jobsInit("#searchJob", jobId);
            SkillsController.skillsInit("#skills", jobId, skillDetailsAction);

            $("#jobId").css('display', 'none');

            $("#searchJob").change(function () {
                $("#jobId").click();
            });
        });
    </script>
}
