
@{
    ViewData["Title"] = "Skills";
}

<h1>Skills</h1>

<div class="aras">
    <select name="jobId" id="searchJob"></select>
</div>

<br />

<table id="skills" class="table table-responsive table-hover table-bordered">
    <thead>
        <tr>
            <th>NAME</th>
            <th>TYPE</th>
            <th>DESCRIPTION</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            var skillDetailsAction = '@Url.Action("SkillDetails", "Skills")';

            SkillsController.jobsInit("#searchJob");

            $(document).on('DOMNodeInserted', '#searchJob > option:first-child', function () {

                var firstJobId = this.value;
                var table = SkillsController.skillsInit("#skills", firstJobId, skillDetailsAction);
                SkillsController.jobsDropdownOnChange(table, skillDetailsAction);
            })
        });
    </script>
}
